* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/img/imagem-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    padding: 0;
    text-align: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}


.container {
    max-width: 400px;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2d3e50;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #007bff;
}


p {
    color: rgb(180, 44, 44);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    background-color: #0056b3;
    border-radius: 20%;

}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    input[type="text"], button {
        font-size: 14px;
    }
}
